{% extends "base.html" %}About Yourself{% block title}{% endblock}

<html>
  <head>
    <body style="background-color:MistyRose"
    <title>About Yourself</title>
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />

	  <!-- link the webpage's stylesheet -->
	  <link rel="stylesheet" href="/style.css" />

	  <!-- link the webpage's JavaScript file -->
	  <script src="/script.js" defer></script>

  </head>
  
  <body>
    
    <h1 style="font-family:georgia;">About Us</h1>
<nav>
  <ul>
    <li>
      <a href="About_Yourself.html">About Yourself</a>
    </li>
    <li>
      <a href="Previous_Work_Experience.html">Previous Work Experience</a>
    </li>
    <li>
      <a href="Hobbies.html">Hobbies</a>
    </li>
    <li>
        <a href="Education.html">Education</a>
      </li>
      <li>
        <a href="Map.html">Map</a>
      </li>
  </ul>
</nav>
  <h1>About Shivani</h1>
     <p>My name is Shivani Rajgopal (she/her) and I am currently an incoming freshmen at the Ohio State University. I will be majoring in Computer Science and Engineering and will be a part of the engineering scholars program.</p>

     <img id=mainImage src="IMG_3266.JPG" style="width:500px;height:500px;"> 

     <h1>About Arpitha</h1>
     <p>Hi. I'm Arpitha, an incoming senior at UC Santa Cruz with a passion for using computer science to solve biological problems. My research at the UCSC Genomics Institute gave me the opportunity to use programming to learn more about neuroscience and cancer. In my fellowship with MLH and Meta I am seeking to build on my computer science knowledge by leveraging strong scientific thinking and leadership skills. I am looking forward to an amazing summer!<p>
     
        <img id=mainImage2 src="ArpithaPhoto.jpeg" style="width:500px;height:500px;">
    
  
<ul><li><a>
    
  </body>
</html>
