{% extends "base.html" %}About Yourself{% block title}{% endblock}

<html>
  <head>
    <body style="background-color:MistyRose"
    <title>About Yourself</title>
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />

	  <!-- link the webpage's stylesheet -->
	  <link rel="stylesheet" href="/style.css" />

	  <!-- link the webpage's JavaScript file -->
	  <script src="/script.js" defer></script>

  </head>
  
  <body>
    
    <h1 style="font-family:georgia;">About Us</h1>
<nav>
  <ul>
    <li>
      <a href="About_Yourself.html">About Yourself</a>
    </li>
    <li>
      <a href="Previous_Work_Experience.html">Previous Work Experience</a>
    </li>
    <li>
      <a href="Hobbies.html">Hobbies</a>
    </li>
    <li>
        <a href="Education.html">Education</a>
      </li>
      <li>
        <a href="Map.html">Map</a>
      </li>
  </ul>
</nav>
  <h1>Shivani's Education</h1>
     <p>Beachwood High School - 2018-2022</p>
     <p>The Ohio State University - 2022-2026</p>
     <p>Computer Science and Engineering Major</p>
     
    <h1>Arpitha's Education</h1>
     <p> University of California, Santa Cruz - 2019-2023</p>
     <p> B.S. Biomolecular Engineering and Bioinformatics: Bioinformatics</p1>
     <p> Computer Science Minor</p2>
     <p> Monta Vista High School - 2015-2019</p>
  
<ul><li><a>
    
  </body>
</html>
