{% extends "base.html" %}About Yourself{% block title}{% endblock}

<html>
  <head>
    <body style="background-color:MistyRose"
    <title>About Yourself</title>
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />

	  <!-- link the webpage's stylesheet -->
	  <link rel="stylesheet" href="/style.css" />

	  <!-- link the webpage's JavaScript file -->
	  <script src="/script.js" defer></script>

  </head>
  
  <body>
    
    <h1 style="font-family:georgia;">Work Experience</h1>
<nav>
  <ul>
    <li>
      <a href="About_Yourself.html">About Yourself</a>
    </li>
    <li>
      <a href="Previous_Work_Experience.html">Previous Work Experience</a>
    </li>
    <li>
      <a href="Hobbies.html">Hobbies</a>
    </li>
    <li>
        <a href="Education.html">Education</a>
      </li>
      <li>
        <a href="Map.html">Map</a>
      </li>
  </ul>
</nav>
  <h1>Shivani's Volunteer Experience</h1>
     <p>Ahuja Medical Center</p> <br>
     <p>Safety Town</p> <br>
     <p>South Euclid Community Center</p> <br>

    <h1>Linked IN Resume</h1>
    <p>Shivani Rajgopal's Linked IN Resume <a href="https://www.linkedin.com/in/shivani-raj-2b21b2217/">Linked IN</a></p>
    
  <h1>Arpitha's Work Experience</h1>
  <h2>UC Santa Cruz Genomics Insitute</h2>
<h3>Undergraduate Research Assistant in Stuart Lab: Cancer Machine Learning</h3>
<p> - Create an intuitive domain-specific interface to do gene expression analysis (or single-cell RNA sequencing analysis) using Apache Arrow from SkyHookDM in Skytether</p>
<h3>Undergraduate Research Assistant in Haussler Lab: Braingeneers</h3>
<p> - Developed an app on WetAI in python that models data collected from neurons to run computational algorithms on cerebral organoids</p>
<p> - Prepared a poster presentation about the app that was given at the SACNAS conference</p>
<p> - Improved a WetAI GUI to display neuron activity models</p>
<p> - Configuring an S3 endpont to test repackaged HDF5 virtual datasets and benchmark performance</p>
<h2>Bioinformatics Intern at immunitoAI</h2>
<p> - Proposed a methodology to do siRNA design</p>
<p> - Designed Lipoprotein A siRNA sequences common among humans, mice and non-rodent species using the UCSC Genome Browser, Galaxy, BLAT and BLAST</p>
<p> - Created a tutorial on how to use the UCSC Genome Browser, Galaxy, BLAT and BLAST</p>
<h2>Vice President of Bioinformatics Club</h2>
<p> - Organized technical workshops to educate members on a wide range of computer science skills including UNIX, python and C</p>
<p> - Taught members how to solve biological and chemical problems using programming</p>
<p> - Created academic plans for underclassmen to advise them on course selection</p>
<p> - Educated undergraduates on how to get involved with research on campus by sharing my experiences at the UCSC Genomics Institute</p>
    
  
<ul><li><a>
    
  </body>
</html>
