{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block content %}

    <h1 style="font-family:georgia;">About Us</h1>
<nav>
  <ul>
    <li>
      <a href="About_Yourself.html">About Yourself</a>
    </li>
    <li>
      <a href="Previous_Work_Experience.html">Previous Work Experience</a>
    </li>
    <li>
      <a href="Hobbies.html">Hobbies</a>
    </li>
    <li>
        <a href="Education.html">Education</a>
      </li>
      <li>
        <a href="Map.html">Map</a>
      </li>
  </ul>
</nav>
  <h1>Shivani's Hobbies</h1>
     <p>➼Knitting</p>
     <img src="knitting.jpg" alt="Knitting" width="300" height="400">
     <p>➼Crafting</p>
     <img src="Sheep kissing.jpg" alt="Crafting" width="300" height="400">
     <p>➼Playing the piano</p>
     <img src="piano.jpg" alt="Piano" width="300" height="400">
     <p>➼Singing</p>
     <img src="singing.jpg" alt="Singing" width="300" height="400">
     <p>➼Programming</p>
     <img src="computer.jpg" alt="Programming" width="300" height="400">
     <p>➼Building Things</p>
     <img src="build.jpg" alt="Build" width="300" height="400">
     <p>➼Learning new Software</p>
     <img src="software.jpg" alt="Software" width="300" height="400">
     <p>➼Volunteering</p>
     <img src="volunteering.jpg" alt="Volunteer" width="300" height="400">

     <h1>Arpitha's Hobbies</h1>
     <p>➼Reading</p>
     <img src="Harry_Potter.jpg" alt="Harry Potter" width="300" height="400">
     <img src="Hunger_Games.jpg" alt="Hunger Games" width="300" height="400">
     <img src="Divergent.jpg" alt="Divergent" width="300" height="400">
     <p>➼Writing</p>
     <img src="Call_For_Kranti.jpg" alt="The Call For Kranti" width="300" height="400">
     <p>➼Singing</p>
     <img src="Indian_Songs.jpg" alt="Indian Songs" width="300" height="400"
    
  
<ul><li><a>
    
{% endblock %}
