{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}

    <h1 style="font-family:georgia;">About Us</h1>
<nav>
  <ul>
    <li>
      <a href="About_Yourself.html">About Yourself</a>
    </li>
    <li>
      <a href="Previous_Work_Experience.html">Previous Work Experience</a>
    </li>
    <li>
      <a href="Hobbies.html">Hobbies</a>
    </li>
    <li>
        <a href="Education.html">Education</a>
      </li>
      <li>
        <a href="Map.html">Map</a>
      </li>
      <li>
         <a href="Timeline.html">Timeline</a>
      </li>
  </ul>
</nav>

<h1>Timeline</h1>

<body>
    <h2>Add an Entry</h2>
    <form action="/register method="post">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name"><br><br>
		<label for="email">Email:</label>
		<input type="text" id="email" email="name"><br><br>
		<label for="content">Content:</label>
		<input type="text" id="content" content="name"><br><br>
		<input type="submit" value="Submit">
	  </form>
</body>
  
</html>
    
{% endblock %}
